<!DOCTYPE html>
<html>
<body>

<h1>My First Blog</h1>
<p>My first paragraph.</p>

{% load mytags %}

<ul>
    <li><a href="/blog/recent">recent | url</a></li>
    <li><a href="{% url 'blog:recent' %}">recent | named url</a></li>
    <li><a href="{% url 'blog:recent' %}">recent | namespace url</a></li>
    <li><a href="{% url 'blog:detail' id=1 %}">post 1 | namespace param</a></li>
    <li><a href="{% url 'blog:recent' %}">{% my_sum 2 3 %}</a></li>
    {% for el in post%}
        <li> {{ el.title }} </li>
    {% endfor %}
</ul>

</body>
</html>
